# front
# dependencies
/front/node_modules
/front/.pnp
/front/.pnp.js
/front/package-lock.json

# testing
/coverage

# production
/build

# misc
/front/.DS_Store
/front/.env.local
/front/.env.development.local
/front/.env.test.local
/front/.env.production.local

/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*

/front/yarn.lock

.env.development
.env.production


# back
/back/.idea/
/back/.vscode/
/back/node_modules/
/back/build/
/back/tmp/
/back/temp/
/back/package-lock.json
.env